html , body { 
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #f0f4f8 ;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;

}
.main-container { 
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;

    width: 55%;
    height: 100%;

}

.logo {
    width: 30%;
    height: 20%;
    display: flex;
    align-items: flex-start ;
    padding: 0;
    color: #4a6fa5;
    font-size:30px;
}

.button-container { 
    display : flex ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    width:  30%;
    height: 60% ; 
    padding:  20px;
    border-radius: 20px;
    outline:  dotted black;
    background-color: #4a6fa5;;
}

.grid { 
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    aspect-ratio: 1/1 ;

    background-color:  #ffffff;
    padding: 0;
    margin : 0 ;
}

.square {
    margin: 0;






}
.second-Container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width:  45%;
    height: 100%;
}
.btn , label { 
    text-align: center;
    background-color: #4a6fa5;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}
.rainbow {
    background-color: #ff6b6b ;
}
.eraser { 
    background-color: #ffd166;
}
.clear { 
    background-color:  #ef476f;
}
.grid-size {
    display: flex;
    flex-direction:  column ;
    background-color: #06d6a0;
}
.select-colors { 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: #ffffff;
    gap : 10px ; 
}
.select-colors input { 

    padding: 0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius:10%;
    background-color: #4a6fa5;

}



